@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.container {
    background-color: black;
}

.home--header {
    background-image: url(../images/members.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    background-position: center center;
    text-align: center;
    font-family: michroma;
    color: #3d7995;
}

/* https://www.youtube.com/watch?v=VQraviuwbzU */
h1 {
    font-size: clamp (10rem, 1rem + 10vw, 20rem);
    color: #3d7995;
    text-align: center;
}



.container,
.section {
    margin: auto;
    width: min(90%, 70.5rem);

}

li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #31b2c2;
}

.navbar>li {
    display: inline-block;
    text-align: center;
    margin: .5rem;
    padding: .2em;
    font-size: 1rem;
    font-weight: bold;
    color: #3d7995;
    line-height: 3em;
}


h2 {
    font-family: michroma;
    word-spacing: .2em;
    padding: .9em 0;
    text-decoration: underline;
    color: #3d7995;

}

p {
    font-family: 'nato sans';
    font-size: 1.5rem;
    word-spacing: 0.2em;
    color: #3d7995;
    text-align: justify;

}

/* spins */

.spins {
    width: 100%;
    height: auto;
    padding-top: 3rem;
}

.spins--header {
    background-image: url(../images/slynetobroadheaven.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    background-position: center center;
    text-align: center;
    font-family: michroma;
    color: #3d7995;
}

/* footer */

.social>li {
    display: inline-block;
    margin: .5em;
    padding: .2em;
    background-color: black;
    font-size: 30px;
    color: #3d7995;
    list-style: none;
}

.social {
    text-align: center;
}

/* signup.html */

.signup--header {
    background-image: url(../images/memberscycle.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    text-align: center;
    font-family: michroma;
    color: #3d7995;
}

.form {
    background-color: rgba(61, 121, 149, .6);
    font-weight: 800;
    color: white;
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form--back {
    padding: 80px;
    background-image: url(../images/topofworld.jpg);
    background-position: center center;

}

.button {
    padding: .5rem;
}

legend {
    background-color: rgba(61, 121, 149, .6);
    color: white;
    padding: .2em;

    font-family: michroma;
}

.hero {
    width: 100%;
    height: auto;
    padding-top: 3rem;
}

/*thankyou*/
.thankyou {
    background-image: url(../images/skyroadcycle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}


@media (max-width: 1102px) {

    .home--header,
    .spins--header,
    .signup--header {
        background-image: none;

    }

    .home>h2 {
        font-family: michroma;
        color: #3d7995;
        padding: .5em;
    }

}

@media (min-width:1102px) {

    #logo {
        float: right;
        opacity: 0.5;
        height: 9.375rem;
        margin-top: 25em;

    }

    h1 {
        color: white;
    }

    /* https://stackoverflow.com/questions/56521316/how-do-i-overlay-a-transparent-navbar-over-a-hero-image-and-have-a-functioning-b */
    .navbar>li {
        font-size: 20px;
        margin-top: 0em;
        margin-bottom: 0em;
        font-weight: 600;
        padding: 0px 32px;
        color: white !important;
        background: transparent;
        position: relative;
        margin-bottom: -104px;
        z-index: 1;

    }

}